<div class="imagingOptions d-flex justify-content-around m-4">
    <div class="d-inline">
    <h4 class="d-block">OS</h4>
    <input type="radio" name="os" id="imagingWin" value="Windows" checked />
    <label for="imagingWin">Windows</label>
    <div>
    <input type="radio" name="os" id="imagingMac" value="Mac"  />
    <label for="imagingMac">Mac</label>
    </div>
  </div> 
  <div class="d-flex flex-column px-10 w-10">
    <div>
    <h4 class="d-block">Type</h4>
    <input type="radio" class="mt-1" name="imagingType" id="imagingRefresh" value="Refresh" checked />
    <label for="imagingRefresh" class="mt-1 d-inline">Refresh</label>
    </div>
    <div>
    <input type="radio" class="mt-1" name="imagingType" id="imagingNewHire" value="New Hire" />
    <label for="imagingNewHire">New Hire</label> 
    </div>
    <div>
    <input type="radio" class="mt-1" name="imagingType" id="imagingBreakFix" value="Breakfix" />
    <label for="imagingNewHire">Breakfix</label>
    </div>
    <div>
    <input type="radio" class="mt-1" name="imagingType" id="imagingAdditional" value="Additional" />
    <label for="imagingNewHire">Additional</label>
    </div>
  </div>
</div>