<table class="table" id="taskList">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">State</th>
        <th scope="col">Notes</th>
        <th scope="col">Image</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <ul>
      <% for(var i=0; i<posts.length; i++) { %>
        <%- include('post', {post: posts[i]}) %>
      <% } %>
    </ul>
    </tbody>
</table>