<%- include('partials/header', {user: null}) -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <h1 class="text-center font-weight-bold mb-5">Reports Refined.</h1>
        <span class="text-center mb-5">Track your daily tasks - Check your stats - Export to PDF</span>
        <a href="/signup" class="col-3 btn btn-secondary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>
</div>