<%- include('partials/header', {user: user}) -%>
<div class="container">
  <div class="col mt-5">
      <div class="w-75 mx-auto">
            <h2 class="text-center mb-5">Add a Task</h2>
           <%- include('partials/postForm') %>
          
      </div>
      <div class="mt-4" id="taskList">
        <%- include('partials/taskList') %>
      </div>
      </div>  
    </div>
</div>
</div>
<%- include('partials/footer') -%>