<%- include('partials/header', {user: user}) -%>
<div class="container">
  <div class="col mt-5">
      <div class="w-75 mx-auto row d-flex justify-content-center">
        <div class="col-6">
            <h2 class="text-center d-inline mb-5" id="addATask" onClick="">Add a Task</h2>
        </div>
        <div class="col-6">
            <a href="/feed"><h2 class="text-end d-inline-block" id="viewReports mb-5" onClick="">View Reports</h2></a>
        </div>
            <%- include('partials/postForm') %>
          
      </div>
      <div class="mt-4" id="taskList">
        <%- include('partials/taskList') %>
      </div>
      <div class="row mt-5 d-flex justify-content-center w-100">
        <a href='/feed' class="w-50 d-flex justify-content-center"><button class="btn btn-secondary w-25">Export</button></a>
      </div>  
      </div>  
    </div>
</div>
</div>
<%- include('partials/footer') -%>