body {
    background: rgb(25, 25, 25);
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}

.printable * {
    background-color: white !important;
    color: black !important;
}

.complete {
    color: #0ee07e;
}

.Progress {
    color: #ffc107;
}

.taskLabel {
    border-radius: 5px;
    padding: .2em;
    text-align: center;
}

.incident {
        background-color: #dc3545;
}
.validation {
        background-color: #0d6efd
}
.deploy {
        background-color: #198754;
}
.imaging {
        color: black;
        background-color: #f8f9fa;
}
.tc {
        background-color: #6c757d;
}
.breakfix {
        color: black;
        background-color: #ffc107;
}


.btn-group {
    height: 8vh;
    width: 100%;
}

.btn-group .btn {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 0px solid !important;
    border-radius: 5px !important;
}

.btn-task {
    height: 5em;
}

#taskList {
    border-radius: 5px;
    color: white;
}

.formContainer {
    position: relative;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
}

.input-dark {
    background-color: rgb(50,50,50);
    color: white;
}

.input-dark:focus {
    background-color: rgb(50,50,50);
    color: white;
}